.idea/
*.iml
*.ipr
*.iws

.DS_Store

/backend/.gradle/
/backend/build/
/backend/out/
/backend/bin/**
/backend/.classpath
/backend/.project
/backend/.settings/**

/frontend/dist/
/frontend/node_modules/
