<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <script th:inline="javascript">
        var mainScriptSource = /*[[${mainScript}]]*/ '';

        var injectScript = function (scriptSource) {
            var script = document.createElement('script');
            script.src = scriptSource;
            document.head.appendChild(script);
        };

        injectScript(mainScriptSource);

    </script>
    <title>HTTP Error</title>

    <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>

<h1>Hello World</h1>

<p>Project started</p>

</body>
</html>
